body{
  background-color: black;
  color: white;
  font-family:"poppins", sans-serif;  
    width: 100%;
  height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
  
}
.container{
  margin-top: 50px;
}
.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
  font-size: 2em;

}
.square{
  width: 100px;
  height: 100px;
  border: 2px solid rgb(43, 46, 211);
  display: flex;
  margin: 0px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.btn{
  font-size: 1em; 
background-color: rgb(66, 115, 250);
padding: 10px;
border-radius: 20px;}
.square.winner{
/* background-color: green; */
  color: white;
  /* font-style: ; */
  font-weight: bold;
  /* position: absolute; */
  background: linear-gradient(to right, #ff4b2b, #ff416c); /* Gradient red-pink */
  /* height: 6px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 65, 108, 0.8);
  z-index: 10;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
